@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background-color: #ffffff;
    font-family: 'Montserrat';
    margin-left: 10%;
    margin-right: 10%;
    padding: auto;
}
.small-menu {
    margin-top: 10%;
    border-bottom: 1px solid #031A62;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 2%;
    list-style: none;
    margin-right: 2%;
    padding: 0;
}
li a{
    text-decoration: none;
    color: rgb(3, 26, 98, 0.5);
}
li a:active{
   color: #031A62; 
}
h1{
    color: #031A62;
}
.activities-part1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.activities-part2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 2%;
}
.second-baner{
   background-color: #0924740f;
   border-radius: 60px;
   width: 1280px;
   height: 300px;
   align-items: center;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-left: 5.5%;
   margin-bottom: 3%;
}
.left-s{
    margin-left: 5%;
}
.right-s{
    margin-right: 5%;
}
.right-s h2 {
    font-size: 32px;
    color: #031A62;
}
.border{
    width: 1px;
    max-width: 100%;
    height: 200px;
    max-height: 100%;
    position: relative;
    background-color: #031A62;
}
.btn{
    border-radius: 15px;
    background-color: #ff8700;
    font-size: 24px;
    padding: 3%;
    color: #ffffff;
    border: 1px solid white;
}
.btn a {
    text-decoration: none;
    color: #ffffff;
}
@media screen and (max-width: 768px){
    .small-menu ul {
       flex-direction: column;
       align-items: center;
       padding: 1%;
    }
    h1{
        text-align: center;
    }
    .activities-part1{
        flex-direction: column;
        width: 100%;
    }
    .activities-part2{
        flex-direction: column;
        width: 100%;
        margin-bottom: 5%;
    }
    .second-baner{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50%;
        margin: 0;
    }
    .left-s img{
        width: 90%;
    }
    .right-s{
        width: 90%;
    }
    .border{
        height: 1px;
        width: 300px;
    }
}
