@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background-color: #ffffff;
    font-family: 'Montserrat';
    margin: auto;
    padding: auto;
}
h1{
    font-size: 40px;
    color: #031A62;
    margin-top: 10px;
    margin-left: 90px;

}
.misija{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.ms{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 50px;
}
h5{
    font-size: 24px;
    color: #FF8700;
}
h2{
    font-size: 40px;
    color: #031A62;
}
p {
    font-size: 20px;
}
.slika1{
    margin-left: 200px;
    margin-top: 10px;
}
.slika1 img{
    display: flex;
    flex-direction: row;
}
.vizija{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
}
.slika2{
    margin-left: 30px;
    margin-bottom: 50px;
}
.slika2 img {
    display: flex;
    flex-direction: row;
    
}
.vizija1 h2{
    font-size: 40px;
    color: #031A62;
}
.vizija1 {
    margin-top: 150px;
    margin-left: 170px;
}
.istorijat {
    margin-top: 10px;
    margin-left: 90px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.h55{
  margin-left: 90px;
}
.btn-slika{
    margin-left: 170px;
    position: relative;
}
.btn-slika img {
    margin-top: 50px;
}
.btn-slika button {
    position: absolute;
    top: 0;
    left: 0;
    width: 217px;
    height: 70px;
    outline: solid 1px #031A62;
    outline-offset: -1px;
    border-radius: 40px;
    background-color: #031a620f;
    margin-top: 70px;
    margin-left: 10px;
    font-size: 24px;
    line-height: 25px;
    font-family: 'Montserrat', 'Helvetica Neue',;
}
.almanah{
    margin-left: 90px;
    display: flex;
}
.h2alma{
    margin-left: 90px;
    margin-top: 30px;
}
.tekstkraj{
    margin-left: 235px;
}
a{
    text-decoration: none;
    color: #031A62;
}
@media screen and (max-width: 768px){
    body{
        margin-left: 16px;
        align-items: center;
    }
    h1 {
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-left: 40px;
    }
    .misija{
        flex-direction: column;
        width: 100%;
        margin-left: 16px;
    }
    .slika1{
        margin: 0;
    }
    .slika1 img{
        flex-direction: column;
        width: 90%;
        margin-right: 30px;
    }
    .vizija{
        flex-direction: column;
        margin: 0;
        margin-left: 15px;
        width: 95%;
    }
    .slika2{
        margin: 0;
        
    }
   .slika2 img{
    margin-top: 10px;
    width: 95%;
   }
   .vizija1{
    margin: 0;
    width: 100%;
    margin-left: 27.5px;
    margin-right: 20px;
   }
   .vizija1 p {
    margin-right: 35px;
   }
   .h55 {
    margin: 0;
    margin-left: 20px;
   }
   .istorijat{
    flex-direction: column;
    margin: 0;
    margin-left: 40px;
    margin-right: 20px;
   }
   .tekstist1 p {
    margin-right: 15px;
   }
   .btn-slika{
    display: flex;
    flex-direction: column;
    margin: 0;
   }
   .btn-slika img {
    width: 100%;
   }
   .btn-slika .btn{
    width: 44%;
    margin: 0;
    margin-top: 51px;
    height: 64px;
   }
   .h2alma{
    margin: 0;
    margin-left: 35px;
    margin-top: 70px;
    margin-bottom: 10px;
   }
   .almanah{
    flex-direction: column;
    margin: 0;
   }
   .slkraj4 img{
    width: 90%;
    margin-left: 23px;
    margin-top: 50px;
   }
   .tekstkraj h5{
    margin: 0;
    margin-left: 20px;
    margin-top: 40px;
   }
   .tekstkraj{
    margin: 0;
    margin-right: 20px;
    margin-bottom: 100px;
   }
   .tekstkraj h2{
    margin-left: 40px;
   }
   .tekstkraj p{
    margin-left: 40px;
   }
}