body {
    background-color: #ffffff;
    font-family: 'Montserrat';
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    padding: auto;
}
.under-baner{
    background-color: #031A62;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    padding: 10%;
    margin-left: -15%;
    margin-right: -15%;
}
.under-baner a{
    text-decoration: none;
    color: #FF8700;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 20px;
    color:  #FF8700;
}

.under-baner p{
    font-size: 16px;
}
.forma{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    margin: auto;
}
.nad-forma{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    width: 100%;
    font-size: 24px;
    color: rgb(3, 26, 98, 0.5);
    align-items: center;
}
.nad-forma{
    color: #031A62;
}
.nad-forma h6{
    margin: 0%;
    margin-left: 70%;
}
.form-cela{
    margin-top: 1%;
}
.form-cela p {
    font-size: 13px;
    margin: 0%;
    color: rgb(3, 26, 98, 0.5);
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#name{
    border-radius: 20px;
    width: 800px;
    height: 60px;
    border-radius: 20px;
    background-color: #031a620f;
    padding: 3.5%;
    font-size: 20px;
}
#email{
    border-radius: 20px;
    width: 800px;
    height: 60px;
    border-radius: 20px;
    background-color: #031a620f;
    padding: 3.5%;
    font-size: 20px;
}
#phone{
    border-radius: 20px;
    width: 800px;
    height: 60px;
    border-radius: 20px;
    background-color: #031a620f;
    padding: 3.5%;
    font-size: 20px;
}
#subject{
    border-radius: 20px;
    width: 800px;
    height: 60px;
    border-radius: 20px;
    background-color: #031a620f;
    padding: 3.5%;
    font-size: 20px;
}
#message{
    border-radius: 20px;
    width: 800px;
    height: 250px;
    border-radius: 20px;
    background-color: #031a620f;
    padding: 3.5%;
    font-size: 20px;
}
.check{
    display: flex;
    flex-direction: row;
}
.check p{
    margin-left: 1.5%;
    margin-top: 0.34%;
    font-size: 13px;
    color: rgb(3, 26, 98, 0.5);
}
.check #checkbox{
    outline: 1px solid #031A62;
    margin-bottom: 0.5%;
    margin-left: 0.5%;
} 
button{
    margin-top: 3%;
    margin-bottom: 5%;
    width: 800px;
    height: 60px;
    border-radius: 20px;
    background-color: #031a62
}
.btn a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.mapa{
    margin-left: -15%;
    margin-right: -15%;
    
}
iframe{
    margin: 0%;
    width: 100%;
}